
.e50_349 { 
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}
.e50_350 { 
	width:1942px;
	height:1128px;
	position:absolute;
	left:24px;
	top:147px;
}
.e50_351 { 
	width:1942px;
	height:1128px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_352 { 
	width:828.4144287109375px;
	height:294.39825439453125px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_353 { 
	color:rgba(140.23831486701965, 131.0460913181305, 151.9374918937683, 1);
	opacity:0.10000000149011612;
	width:828.4144287109375px;
	height:294.39825439453125px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
}
.e50_354 { 
	border-radius:500px;
	width:1320px;
	height:1093px;
	position:absolute;
	left:622px;
	top:35px;
	background-image:url(images/ellipse_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e50_355 { 
	width:1047px;
	height:770.6657104492188px;
	position:absolute;
	left:335px;
	top:0px;
}
.e50_356 { 
	background-color:rgba(242.22315520048141, 239.25729274749756, 250.75000405311584, 0.6000000238418579);
	width:1047px;
	height:770.6657104492188px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:111.55718231201172px;
	border-top-right-radius:111.55718231201172px;
	border-bottom-left-radius:111.55718231201172px;
	border-bottom-right-radius:111.55718231201172px;
}
.e50_357 { 
	width:645px;
	height:586px;
	position:absolute;
	left:205px;
	top:92px;
}
.e50_358 { 
	width:404px;
	height:76.16393280029297px;
	position:absolute;
	left:115px;
	top:454px;
}
.e50_359 { 
	background-color:rgba(96.9999486207962, 48.999997079372406, 235.0000011920929, 0.6100000143051147);
	width:404px;
	height:76.16393280029297px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e50_360 { 
	color:rgba(255, 255, 255, 1);
	width:142px;
	height:43px;
	position:absolute;
	left:131px;
	top:10px;
	font-family:Raleway;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}
.e50_361 { 
	width:469px;
	height:42px;
	position:absolute;
	left:80px;
	top:544px;
}
.e50_362 { 
	color:rgba(97.00000181794167, 49.00000087916851, 235.0000011920929, 1);
	width:189px;
	height:38px;
	position:absolute;
	left:280px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e50_363 { 
	color:rgba(163.07917803525925, 159.9328100681305, 172.12500303983688, 1);
	width:280px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Raleway;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}
.e50_364 { 
	width:637px;
	height:119px;
	position:absolute;
	left:0px;
	top:303px;
}
.e50_365 { 
	color:rgba(107.38786160945892, 92.35781371593475, 121.12499848008156, 1);
	width:270px;
	height:42px;
	position:absolute;
	left:367px;
	top:77px;
	font-family:Raleway;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e50_366 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:634px;
	height:71px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}
.e50_367 { 
	color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
	width:143px;
	height:66px;
	position:absolute;
	left:24px;
	top:5px;
	font-family:Raleway;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e50_368 { 
	width:634.0678100585938px;
	height:75px;
	position:absolute;
	left:0px;
	top:176px;
}
.e50_369 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:634.0678100585938px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}
.e50_370 { 
	color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
	width:145px;
	height:65px;
	position:absolute;
	left:26px;
	top:10px;
	font-family:Raleway;
	text-align:center;
	font-size:48px;
	letter-spacing:0;
}
.e50_371 { 
	color:rgba(154.52004611492157, 151.35311365127563, 163.62499594688416, 1);
	width:639px;
	height:64px;
	position:absolute;
	left:6px;
	top:84px;
	font-family:Raleway;
	text-align:left;
	font-size:27px;
	letter-spacing:0;
}
.e50_372 { 
	color:rgba(0, 0, 0, 1);
	width:460px;
	height:85px;
	position:absolute;
	left:95px;
	top:0px;
	font-family:Raleway;
	text-align:center;
	font-size:54px;
	letter-spacing:0;
}
.e50_373 { 
	width:1920px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_374 { 
	box-shadow:2px 5px 4px rgba(235.05698293447495, 234.0333330631256, 238.00000101327896, 1);
	background-color:rgba(255, 255, 255, 1);
	width:1920px;
	height:114px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_375 { 
	width:124px;
	height:75px;
	position:absolute;
	left:1772px;
	top:18px;
}
.e50_376 { 
	background-color:rgba(244.3749949336052, 244.3749949336052, 244.3749949336052, 1);
	width:124px;
	height:75px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-left-radius:16px;
	border-bottom-right-radius:16px;
}
.e50_377 { 
	width:56px;
	height:53.10344696044922px;
	position:absolute;
	left:34px;
	top:11px;
}
.e50_378 { 
	background-color:rgba(97.00000181794167, 49.00000087916851, 235.0000011920929, 1);
	width:38.5px;
	height:39.82758712768555px;
	position:absolute;
	left:-1.1368683772161603e-13px;
	top:6.637903690338135px;
}
.e50_379 { 
	background-color:rgba(97.00000181794167, 49.00000087916851, 235.0000011920929, 1);
	width:38.503135681152344px;
	height:23.23695182800293px;
	position:absolute;
	left:17.5px;
	top:14.933196067810059px;
}
.e50_380 { 
	color:rgba(0, 0, 0, 1);
	width:287px;
	height:70px;
	position:absolute;
	left:40px;
	top:18px;
	font-family:Raleway;
	text-align:left;
	font-size:60px;
	letter-spacing:0;
}
