*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  .hero{
    width: 100%;
    min-height: 100vh;
    background: #eceaff;
    color: #525252;
  }
  
  nav {
    background: #1a1a1a;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  
  .logo {
    width: 120px;
  }
  
  .user{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  
  }
  
  nav ul{
    width: 100%;
    text-align: right;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a{
    color: #fff;
    text-decoration: none;
  }
  
  .sub-menu-wrap{
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  
  .sub-menu-wrap.open-menu{
    max-height: 400px;
  }
  .sub-menu{
    background: #fff;
    padding: 20px;
    margin: 10px;
  }
  
  .user-info{
    display: flex;
    align-items: center;
  }
  
  .user-info h2{
    font-weight: 500;
  }
  
  .user-info img{
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
  }
  
  .sub-menu-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
  }
  
  .sub-menu-link p{
    width: 100%;
  }
  
  .sub-menu-link img{
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
  }
  
  .sub-menu-link span{
    font-size: 22px;
    transition: transform 0.5s;
  }
  
  .sub-menu-link:hover span{
    transform: translateX(5px);
  }
  
  .sub-menu-link:hover p{
    font-weight: 600;
  }
  
  
  .menu {
    display: none;
  }
  
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
  }
  
  .overlay--active {
    width: 100%;
  }
  
  .overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .overlay a {
    padding: 15px;
    font-size: 20px;
    display: block;
    text-decoration: none;
    transition: color 0.3s ease 0s;
  }
  
  .overlay a:hover,
  .overlay a:focus {
    color: #0088a9;
  }
  .overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
    color: #edf0f1;
  }
  
  .cta {
    padding: 9px 15px;
    background-color: #8f76d3;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: #A98CFB;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .ab {
      display: none;
    }
    .menu {
      display: initial;
    }
  }