.submit{
    width: 40%;
    padding: 10px;
    background-repeat: no-repeat;
}

.div-sub-container{
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .div-container {
      display: contents;
      align-items: center;
    }

    .submit, .div-sub-container {
        width: 100%;
        text-align: center;
    }

    .linhaMeio{
        display: none;
    }

    .container1{
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .container1{
        width: 90%;
    }

    .div-sub-container{
        padding-top: 0;
        padding-bottom: 0;
    }

    .botao-001{
        width: 50vw;
        max-width: 250px;
    }


}