.footer{
    padding: 40px 0;
    background: rgba(54, 54, 54, 0.8);;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    padding-top: 5px;
    color: #363636;
    opacity: 0.76;
}

.footer .social a:hover{
    opacity: 1.0;   
    color: 	#A9A9A9;
    margin: 0 25px 0;
    transition: all 0.8s ease;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
    color: #D3D3D3;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    color: #363636;
    transition: all 0.5s ease;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #A9A9A9;
    
}