@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

body {
    font-size: 'Raleway';
    background-color: white;
    height: 2000px;
}
.fundo_img{
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 100%);
    transition: 2.5s ease 0s;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.fundo_img_2{
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 100%);
  transition: 2.5s ease 0s;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.fundo_img:hover{
    opacity: 0.4;
}

.fundo_logo{
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 160px;
  margin: auto;
}

.fundo_texto{
    width: 80%;
    height: 200px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    opacity: 0.6;
    font-family: 'Raleway', sans-serif;
    padding: 10%;
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 140px;
    margin: auto;
    transition: color 0.5s ease 0s;
}

.fundo_texto:hover{
    color: blanchedalmond;
}

.fundo_botao{
    background-color: #6131EB;
    width: 200px;
    opacity: 0.8;
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    border: 0.5px solid #3e07e2;
    transition: color 0.5s ease 0s;
}

.fundo_botao:hover{
    background-color: #9d88da;
    border: 0;
    color: black;
    font-weight: 900;
}

.ab:hover{
    background-color: #fff;
    color: black;
}

.fundo_seta{
  width: 30px;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* NAVEGAÇÃO */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  .hero{
    width: 100%;
    color: #525252;
  }
  
  nav {
    background: transparent;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
  }
  
  .logo {
    width: 120px;
  }
  
  .user{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  
  }
  
  nav ul{
    width: 100%;
    text-align: right;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    opacity: 0.6;
  }
  
/* DIVs */

.div1{
    background-color: #6131EB;
    opacity: 0.7;
    padding: 20px;
    -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 100%);
    height: 40vh;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    color: white;
    
}

.img-marca{
    width: 80px;
    opacity: 0.3;
    left: 20px;
    transition: opacity 0.5s ease 0s;
    margin-left: 15px;
    margin-right: 15px;
}

.img-marca:hover{
    opacity: 1;
}