body {
    font-size: 'Raleway';
}

.container2{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--cor-palette-1), var(--cor-palette-3));
    opacity: 1;
    transition: filter 2.5s ease 0s;
}

.fundo_logo{
  width: 350px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 200px;
  margin: auto;
}

.fundo_texto{
    width: 80%;
    height: 200px;
    text-align: center;
    font-size: 15px;
    color: #fff;
    opacity: 0.8;
    font-family: 'Raleway';
    padding: 10%;
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: color 0.5s ease 0s;
}


.fundo_botao{
    background-color: var(--botao-iniciar);
    width: 250px;
    opacity: 0.8;
    color: white;
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    border: 0.5px solid var(--cor-palette-1);
    transition: color 0.5s ease 0s;
}

.fundo_botao:hover{
    background-color: var(--botao-iniciar-hover);
    border: 0;
    color: black;
    font-weight: 900;
}

.fundo_seta{
  width: 30px;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/* NAVEGAÇÃO */

.ab:hover{
  background-color: black;
  color: white;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
  }
  
  .navbar-indice{
    width: 100%;
    background-color: white;
    color: #525252;
  }
  
  nav {
    background-color: white;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 75px;
  }
  
  .logo {
    width: 120px;
  }
  
  .user{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  
  }
  
  nav ul{
    width: 100%;
    text-align: right;
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
  }
  
  nav ul li a{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    opacity: 0.6;
  }

  /* @media screen and (max-width: 550px)  */