/* body{
   background-color: var(--color-007);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.overlay{
    display: flex;
    margin-top: 40vh;
}

.overlay div{
    width: 50px;
    height: 50px;
    background-color: var(--white);
    margin: 15px;
    border-radius: 50%;
    animation: anima 1s ease-in-out infinite alternate;
}

.overlay div:nth-child(1){
    animation-delay: -0.4s;
}

.overlay div:nth-child(2){
    animation-delay: -0.2s;
}

@keyframes anima{
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(100%)
    }
} */

body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
}

.wrapper{
    width: 200px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.circle{
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: aqua;
    left: 15%;
    transform-origin: 50%;
    animation: circle .5s alternate infinite ease;
}

@keyframes circle{
    0%{
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40%{
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100%{
        top: 0%;
    }
}

.circle:nth-child(2){
    left: 45%;
    animation-delay: .2s;
}

.circle:nth-child(3){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow{
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow{
    0%{
        transform: scaleX(1.5)
    }

    40%{
        transform: scaleX(1.5);
        opacity: .7;
    }

    100%{
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow:nth-child(4){
    left: 45%;
    animation-delay: .2s;
}

.shadow:nth-child(5){
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.wrapper span{
    position: absolute;
    top: 100px;
    font-family: Raleway;
    font-size: 20px;
    color: rgb(91, 89, 89);
}






