body{
   background-color: var(--color-007);
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.load{
    display: flex;
    margin-top: 40vh;
}

.load div{
    width: 50px;
    height: 50px;
    background-color: var(--color-003);
    margin: 15px;
    border-radius: 50%;
    animation: anima 1s ease-in-out infinite alternate;
}

.load div:nth-child(1){
    animation-delay: -0.4s;
}

.load div:nth-child(2){
    animation-delay: -0.2s;
}

@keyframes anima{
    from{
        transform: translateY(-100%);
    }

    to{
        transform: translateY(100%)
    }
}