
.ab:hover{
    background-color: black;
    color: white;
  }

  .navbar-indice{
    width: 100%;
    background-color: white;
    color: #525252;
  }
  
  nav {
    background-color: white;
    width: 100%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    height: 75px;
  }
  
  .logo {
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
  }

  .logo:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  
  .user{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30px;
  
  }
  
  nav ul{
    width: 100%;
    text-align: right;
    
  }
  
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    margin-top: 30px;
  }
  
  nav ul li a{
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 50px;
    opacity: 0.6;
    
  }

@media screen and (max-width: 550px) {
  nav ul li{
    margin-top: 0;
  }

  nav ul{
    margin-top: 25px;
  }
}


::-webkit-scrollbar{
  width: 8px;
  background-color: rgba(200, 200, 200);
  border: 5px solid white;
}

::-webkit-scrollbar-thumb{
  background-color: #DCDCDC;
  border-radius: 50px;
  border: 2px solid white;
}
