.filtros{
    margin-top: 13vh;
    margin-right: 10%;
    display: flex;
    justify-content: flex-end;
}

.label{
    display: inline;
    width: 286px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 23px;
    color: var(--cor-005);
}

.input-textarea{
    width: 24vh;
    height: 4.2vh;
    border-radius: 8px;
    border-style: none;
    background: var(--cor-006);
}

.input-textarea:hover{
    outline: none;
    border-color: var(--cor-001);
    box-shadow: 0 0 0 3px var(--cor-001);
    transition: all 1.1s;
}

.botao-001{
    background: url("../../images/svgs/search.svg") no-repeat 15px;
    height: 4.2vh;
    width: 45px;
    border-radius: 10px;
    border-style: none;
    background-color: var(--cor-rbg-004);
    margin-bottom: -9px;
}

.botao-001:hover{
    outline: none;
    border-color: var(--cor-001);
    box-shadow: 0 0 0 2px var(--cor-001);
    transition: all 1.1s;
}

.conteudo{
    width: 100%;
    height: 420px; 
    margin-top: 5vh;
    margin-bottom: 10vh;
    border-radius: 20px;
    overflow-y: scroll;
    background-color: var(--color-005);
}

.h1002{
    margin-top: 115px;
    color: var(--color-003);
    font-size: 25px;
    font-weight: 300;
}

.div-total{
    width: 100%;
    height: 100%;
    padding: 0px 15%;
    transition: all 0.5s;
}

.conteudo::-webkit-scrollbar {
    width: 0px;
    height: 10px;
}

.conteudo::-webkit-scrollbar-thumb {
    background: transparent;
}

.conteudo::-webkit-scrollbar-track {
    background: transparent;
}

.anunciar{
    background-color: var(--color-001);
    width: 150px;
    height: 37px;
    margin-top: 20px;
    float: right;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin-right: 3%;
    border-style: none;
    color: var(--color-004);
}

.anunciar a{
    text-decoration: none;
    color: var(--color-004);
    align-self: center;
    font-size: 15px;
}

.titulo1{
    width: 294px;
    height: 52px;
    padding-left: 17vh;
    padding-top: -1vh;

    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 52px;
    /* identical to box height */

    display: inline;
    align-items: center;

    color: var(--cor-004);
}

.table1{
    display: flex;
    width: 94%;
    height: 7vh;
    margin: 3%;
    float: left;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}

.td1{
    background-color: var(--cor-008);
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    color: var(--color-004);
    padding: 8px;
    font-size: 15px;
    flex: 2;
}

.td2{
    width: 91%;
    flex: 14;
    text-align: left;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 20px;
    color: var(--cor-007);
    background-color: var(--white);
    width: 100%;
    height: 40px;
    opacity: 61%;
    font-size: 17px;
    transition: all 0.5s;
    overflow: hidden;
}

.nome_materia{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.td3, .td4{
    flex: 1;
    height: 100%;
    padding: 8px 2px;
    opacity: 60%;
    transition: all 0.5s;
}

.td3:hover, .td4:hover{
    opacity: 100%;
}

.foto-perfil{
    display: inline;
    width: 12vh;
    height: 12vh;
    border-radius: 5px;
    margin-left: 1.5vh;
    background-color: var(--cor-001);
}

.escola{
    margin-top: 1vh;
    margin-left: 2vh;
    color: var(--cor-005);
    font-size: 15px;
}

input[type=text] {
    margin-left: 8px;
    padding-left: 10px;
    font-size: 14px;
    color: var(--cor-005);
}

#icone20{
    color: var(--color-003);
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .td3, .td4{
        flex: 2;
    }
}

@media screen and (max-width: 700px) {
    .div-total{
        padding: 0px 10%;
    }    
}

@media screen and (max-width: 500px) {
    .div-total{
        padding: 0px 5%;
    }

    .td2{
        flex: 10;
        margin-left: 10px;
    }
    .nome_materia{
        font-size: 14px;
    }
}