body{
    background-color: var(--white);
}

.info-contato{
    
    height: 100%;
}

h4{
    color: var(--color-003);
}

#icon{
    color: var(--color-001);
    font-size: 6vh;
}

.info{
    color: var(--color-003);
    text-decoration: none;
    font-size: 3.5vh;
    padding: 2vh;
}

.info:hover{
    opacity: 1.0;   
    color: var(--color-002);
    margin: 0 20px 0;
    transition: all 0.8s ease;
}

.linha{
    width: 370px;
    height: 1.5px;
    background: var(--color-003);
}

.formulario{
    background-color: var(--color-005);
    width: 75vh;
    height: 70vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4vw;
    max-width: 650px;
}

#mensagem{
    resize: none;
    height: 15vh;
    min-height: 15vh;
    border-style: none;
    background: var(--white);
   
}

#mensagem:hover, input:hover {
    border-color: var(--color-002);
    box-shadow: 0 0 0 2px var(--color-002);
    transition: all 0.9s;
}

.title-form{
    font-size: 20px;
    align-self: center;
}

.text-form{
    color: var(--color-003);
}

.btn-enviar{
    background-color: var(--color-001);
    border-radius: 4px;
    width: 20vh;
    height: 6vh;
    border-style: none;
    color: var(--color-004);
}

.btn-enviar:hover{
    transition: all 0.5s;
    outline: none;
    background: var(--color-002);
}

.div-contato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 156px;
    padding-bottom: 48px;
}

#form-campo{
    border-style: none;
    background: var(--white);
}


@media (max-width: 1400px) {
    .div-contato {
        flex-direction: column;
    }
    
    .formulario {
        margin-top: 10vh;
        width: 80vw;
        padding: 0 8vw;
    }

    .title, .text{
        font-size: 20px;
        margin-left: 5vw;
    }

    #icon{
        font-size: 4vh;
        margin-left: 5vw;
    }

    .info{
        font-size: 3vh;
        margin-left: 5vw;
    }
}

.page{
    display: none;
}


.fundo-load{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-013);
}