.filtros{
    margin-top: 100px;
    margin-right: 10%;
    display: flex;
    transition: all 1s;
    justify-content: flex-end;
}

.form{
    display: flex;
 }


.label{
    display: inline;
    width: 286px;
    height: 23px;
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 23px;
    color: var(--cor-005);
}

.input-textarea{
    width: 170px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    background: var(--cor-006);
}

.input-textarea:hover{
    outline: none;
    border-color: var(--cor-001);
    box-shadow: 0 0 0 3px var(--cor-001);
    transition: all 1.1s;
}

.botao-001{
    background: url("../../images/svgs/search.svg") no-repeat 15px;
    height: 40px;
    width: 45px;
    border-radius: 10px;
    border-style: none;
    margin-left: 5px;
    background-color: var(--cor-008);
}

.botao-001:hover{
    outline: none;
    border-color: var(--cor-001);
    box-shadow: 0 0 0 2px var(--cor-001);
    transition: all 1.1s;
}

.conteudo{
    background-color: var(--cor-010);
    width: 80%;
    height: 500px; 
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding: 10px;
    border-radius: 12px;
    transition: all 1s;
    overflow-y: scroll;
}

.titulo1{
    width: auto;
    height: 52px;
    text-align: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 52px;
    /* identical to box height */

    display: inline;
    align-items: center;

    color: var(--cor-004);
}

.table1{
    width: 100%;
    align-items: center;
    height: 400px;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
}


.td1{
    padding: 10px;
    background-color: var(--white);
    margin: 2%;
    display: flex;
    cursor: pointer;
    width: 29%;
    border-radius: 8px;
    align-items: center;
    flex: 1;
    margin-bottom: 10px;
}

.td2{
    display: none;
}

.td1:hover{
    background-color: var(--cor-rgb-006);
    transition: all 1s;
    color: var(--cor-010);
}

.foto-perfil{
    display: inline;
    width: 12vh;
    height: 12vh;
    border-radius: 5px;
    margin-left: 1.5vh;
    background-color: var(--cor-001);
    transition: all 1s;
}

marquee{
    margin-top: 2vh;
    margin-left: 2vh;
    width: 31vh;
    color: var(--cor-005);
}

.td2{
    padding: 1px;
    display: flex;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
}

input[type=text] {
    margin-left: 8px;
    padding-left: 10px;
    font-size: 14px;
    color: var(--cor-005);
}

@media screen and (max-width: 1300px) {
    .conteudo{
        width: 90%;
    }

    .table1 tr{
        display: contents;
    }

    .td1{
        width: 90%;
    }

    .foto-perfil{
        width: 70px;
        height: 70px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 480px) {
    marquee h6{
        font-size: 13px;
    }

    .td1{
        width: 90%;
        
    }

    

}