@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Raleway;
}

.principal{
    height: 50vh;
    width: 30%;
    align-items: center;
    border-radius: 12px;
    background-color: var(--color-005);
    transition: all 2s;
}

.confirm{
    height: 7vh;
    width: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
    border-radius: 100%;
    background-color: var(--color-001);
}

#icon{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    color: var(--white);
}

#star{
    padding: 10%;
    color: rgb(240, 214, 14);
    font-size: 2em;
    margin-right: 30%;
    margin-top: 5%;
}

#star2{
    color: rgb(240, 214, 14);
    font-size: 2em;
    margin-top: 5%;
    margin-left: 30%;
}

.conteudo{
    margin-top: 12vh;
  
}

#exit{
    color: var(--color-001);
    font-size: 2.5em;
    float: right;
}

#exit:hover{
    color: var(--color-002);
}

h3{
    color: var(--color-003);
    font-weight: 900;
}

@media (max-width: 880px){
    .principal{
        width: 40%;
    }
}

@media (max-width: 680px){
    .principal{
        width: 60%;
    }

    h3{
        font-size: 1em;
    }
}