@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


.div-todo{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Raleway;
    position: fixed;
    z-index: 1200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.div-todo2{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient( to right, var(--cor-008), var(--color-002)); 
    font-family: Raleway;
    position: fixed;
    z-index: 1200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.principal{
    height: 400px;
    width: 30%;
    align-items: center;
    border-radius: 12px;
    background-color: var(--color-005);
    /* background-color: blueviolet; */
    transition: all 2s;
}

.principal2{
    height: 40vh;
    width: 27%;
    align-items: center;
    border-radius: 12px;
    background-color: var(--color-005);
    transition: all 2s;
}

.principal3{
    height: 300px;
    width: 300px;
    align-items: center;
    border-radius: 12px;
    background-color: var(--color-005);
    transition: all 2s;
}

.confirm{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2%;
    border-radius: 100%;
    background-color: var(--color-001);
}

#icon{
    display: flex;
    justify-content: center;
    font-size: 1.8em;
    color: var(--white);
}

#star{
    padding: 10%;
    color: rgb(240, 214, 14);
    font-size: 2em;
    margin-right: 30%;
    margin-top: 5%;
}

#star2{
    color: rgb(240, 214, 14);
    font-size: 2em;
    margin-top: 5%;
    margin-left: 30%;
}

.conteudo6{
    margin-top: 60px;
    height: auto;
    padding: 5px 20px;
}

#exit{
    color: var(--color-001);
    font-size: 2.5em;
    float: right;
}

#exit:hover{
    color: var(--color-002);
}

#exit2{
    color: var(--color-001);
    font-size: 2.5em;
    float: right;
}

#exit2:hover{
    color: var(--color-002);
}

.btn-enviar{
    background-color: var(--color-001);
    border-radius: 4px;
    width: 90px;
    height: 35px;
    border-style: none;
    color: var(--color-004);
    padding: 5px;
    margin-top: 10px;
}

.btn-enviar:hover{
    transition: all 0.5s;
    outline: none;
    background: var(--color-002);
}

.mensagem{
    color: var(--color-003);
    font-weight: 900;
}

@media (max-width: 880px){
    .principal, .principal2, .principal3{
        width: 40%;
    }
}

@media (max-width: 680px){
    .principal, .principal2, .principal3{
        width: 60%;
    }

    .mensagem{
        font-size: 1em;
    }
}
