.div-sobre{
    width: 100%;
    height: 870px;
    display: inline-block;
    background-color: #f8fafb;
}

#title{
    position: absolute;
    width: 80vw;
    max-width: 490px;
    height: 52px;
    left: 10vw;
    top: 120px;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 52px;
   

    display: flex;
    align-items: center;
    
    color: #7e57c2;
    opacity: 60%;
}

.linha{
    position: absolute;
    width: 80vw;
    max-width: 490px;
    height: 1.5px;
    left: 10vw;
    top: 190px;
    background: #D9D9D9;
}

.text1{
    position: absolute;
    width: 80vw;
    max-width: 490px;
    height: 155px;
    left: 10vw;
    top: 220px;

    text-align: justify;
    
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    align-items: center;

    color: #8C8398;
}

.text2 p 
.text1 p{
    line-height: 10px;
}

.title2{
    position: absolute;
    width: 80vw;
    max-width: 490px;
    height: 52px;
    left: 10vw;
    top: 470px;

    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 52px;

    display: flex;
    align-items: center;

    color: #7e57c2;
    opacity: 60%;


}

.linha2{
    position: absolute;
    width: 80vw;
    max-width: 490px;
    height: 1.5px;
    left: 10vw;
    top: 539px;
    background: #D9D9D9;
}

.text2{
    position: absolute;
    width: 80vw;
    max-width: 490px;
    height: 155px;
    left: 10vw;
    top: 570px;
    text-align: justify;

    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 31px;
    align-items: center;

    color: #8C8398;
}

.img{
    float: right;
    width: 80vw;
    max-width: 590px;
    margin-top: 90px;
    margin-right: 90px;
    transition: all 1s;
}

@media only screen and (max-width: 1250px) {
    .img{
        opacity: 0;
    }
}

@media only screen and (max-width: 400px) {
    .title2{
        top: 500px;
    }

    .linha2{
        top: 569px;
    }

    .text2{
        top: 600px;
    }
}