@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');


body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Raleway;
    min-height: 100vh;
}

.principal{
    width: 60%;
    height: 75vh;
    padding: 5vh;
    background-color: var(--color-005);
    text-align: justify;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    border-radius: 12px;
    transition: all 2s;
}

.termos{
    width: 90%;
}

.t{
    color: var(--cor-002);
    font-weight: 900;
}

.s{
    color: var(--color-003);
}

.btn-enviar{
    background-color: var(--color-001);
    border-radius: 4px;
    width: 15vh;
    height: 5vh;
    border-style: none;
    color: var(--color-004);
}

.btn-enviar:hover{
    transition: all 0.5s;
    outline: none;
    background: var(--color-002);
}

@media (max-width: 880px){
    .s, .t{
        font-size: 15px;
    }

    .principal{
        padding: 3vh;
    }
}
