body{
    background-color: darkgray;
    font-family: 'Raleway';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.everybody{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    align-items: center;
    border-radius: 20px;
}

.divlateral{
    background-color: #F2EFFB;
    width: 100%;
    height: 40%;
    border-radius: 20px;
    /* padding: 20px 0; */
    display: flex;
    /* flex-direction: column; */
   
}

.aside {
    display: flex;
    /* flex-direction: column; */
    padding: 0 24px;
    background-color: aquamarine;
    width: 80%;
}

.img_etec{
    width: 40%;
    height: 100%;
    opacity: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.title01{
    color: #6131eb;
    opacity: 70%;
    font-weight: 900;
}

a{
    font-size: 18px;
    text-decoration: none;
    color: #8C8398;
}

#icon{
    color: #6031ebc9;
    font-size: 18px;
    padding: 1vh;
    display: block;
    background-color: grey;
}

#icon:hover{
    transition: all ;
    color: #000000;
    border-radius: 12px;
    box-shadow: 0 0 5px #838282;
}

.icons{
  width: 60%;
  display: inline;
  justify-content: space-between;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(255, 0, 123);
}

.botão-01{
    background-color: #7e57c2c3;
    border-radius: 4px;
    width: 20vh;
    height: 6vh;
    border-style: none;
    color: #ebeaea;
}

.botão-01:hover{
    transition: all 0.5s;
    outline: none;
    background: #7e57c2;
}


.title02{
    color: #6131eb;
    opacity: 70%;
    font-weight: 900;
}

.conteudo{
    width: 100%;
    height: 80%;
    background: #7e57c2;
    border-radius: 17px;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 980px) {
  
    .img_etec{
        display: none;
    }

    .icons{
        width: 100%;
    }
} 

