.img-escola{
    height: 50vh;
    background-color: black;
    width: auto;
    margin-top: 70px;
    flex: 1;
    align-content: space-between;
    object-fit: cover;
    object-position: 20% 10%;
}

.img-div-alterar-01{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    opacity: 40%;
    display: inline;
}

.titulo{
    position: absolute;
    color: rgb(226, 224, 227);
    align-items: center;
    display: inline;
    text-align: center;
    width: 100%;
    left: 0;
    top: 25vh;
}

.subtitulo{
    position: absolute;
    color: rgb(226, 224, 227);
    align-items: center;
    display: inline;
    text-align: center;
    width: 100%;
    left: 0;
    top: 35vh;
}

.vagas{
    align-items: center;
    width: 60vh;
    height: 80vh;
    background-color: #f2effbd7;
    float: right;
    margin-right: 1.5vh;
    flex: 1;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
}

.titulo-vagas{
    color: #8C8398;
    font-size: 20px;
    line-height: 10vh;
}

.titulo-info{
    color: #8C8398;
    font-size: 20px;
    line-height: 10vh;
    width: auto;
    text-align: center;
}

.div-vaga{
    background-color: #fff;
    width: 50vh;
    height: 17vh;
    border-radius: 10px;
    padding: 2vh;
}

.div-info-escola{
    align-items: center;
    width: 70vh;
    height: 80vh;
    flex: 1;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
    text-align: center;
    overflow-y: scroll;
    display: inline;
}

.p-div{
    color: #8C8398;
    white-space: pre-line;
    width: 90%;
    text-align: justify;
    font-size: 15px;
}

.imagens{
    align-items: center;
    width: 20%;
    height: 80vh;
    background-color: #f2effbd7;    
    float: left;
    margin-left: 2.5vh;
    padding: 2% 0;
    flex: 1;
    border-radius: 10px;
    text-align: center;
}

.div-total{
    display: flex;
    flex-wrap: wrap;
}

.sub-imagens{
    height: 30%;
    margin: 2%;
    object-fit: cover;
    object-position: center;
    width: 90%;
    background-repeat: no-repeat;
}

.div-icones{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 30px;
    padding: 20px 0;
    box-shadow: 0 0 0.5em grey;
}

.div-icones .icones{
    text-align: center;
    padding-bottom: 25px;
}

.icones{
    display: flex;
}

.lista{
    width: 95%;
    margin: 0 2.5%;
    display: flex;
}

.lista ul{
    
}

li a .bi-envelope, 
.bi-map, 
.bi-telephone{
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    color: #6031ebdf;
    opacity: 0.76;
}

.div-icones ul li a{
    color: inherit;
    width: 33%;
    text-decoration: none;
    opacity: 0.8;
    flex: 1;
    color: #9f9f9f;
}

.div-icones ul li{
    display: inline-block;
    flex: 1;
}

@media screen and (max-width: 1300px) {
    .div-total{
        display: contents;
        background-color: #8C8398;
    }

    .imagens, .div-info-escola{
        width: 48%;
    }

    .imagens{
        margin-right: 1%;
    }

    .p-div{
        text-align: right;
        width: 47.5%;
        float: right;
        white-space: pre-line;
        text-align: justify;
        padding: 20px;
        height: 470px;
        display: -webkit-box;
        -webkit-line-clamp: 20;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .titulo-info{
        line-height: 5vh;
    }

    .vagas{
        width: 90%;
        margin-top: 10px;
        margin-right: 0;
        padding: 20px 10px;
        float: none;
        margin-left: 5%;
        margin-right: 5%;
    }

    .div-vaga{
        width: 100%;  
    }
}

@media screen and (max-width: 600px) {
    .div-icones{
        padding: 20px;
    }

    .imagens, .div-info-escola{
        width: 90%;
    }

    .p-div{
        width: 100%;
    }

    .sub-imagens{
        flex: 1;
        height: 150px;
        object-fit: cover;
        width: 28%;
        object-position: center;
        background-repeat: no-repeat;
    }



    .imagens{
        display: flex;
        height: 200px;
        margin-bottom: 30px;
        width: 90%;
    }

    .lista{
        display: contents;
    }

    .div-icones ul li{
        margin-top: 20px;
        margin-bottom: 30px;
    }

    .titulo{
        font-size: 24px;
        padding: 8px;
    }

    .subtitulo{
        font-size: 15px;
        padding: 8px;
    }

    .div-total{
        width: 100%;
        background-color: #8C8398;
    }

}