body{
    background-color: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Raleway;
}

.everybody{
    background-color: var(--color-006);
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 70%;
    align-items: center;
    border-radius: 15px;
}

.divlateral{
    background-color: var(--color-005);
    width: 90%;
    height: 40%;
    border-radius: 15px;
    margin-top: 3vh;
    display: flex;
    /* flex-direction: column; */
   
}

.aside{
    display: flex;
    width: 90%;
    margin-bottom: 3vh;
    flex-direction: column;
    overflow-y: scroll;
    background-color: var(--color-005);
    border-radius: 15px;
}

.img_etec{
    width: 40%;
    height: 50vh;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.title01{
    color: #6131eb;
    opacity: 70%;
    font-weight: 900;
}

.div-icon{
    display: flex;
    text-align: justify;
    width: 60%;
}

.div-icon:hover{
    margin-left: 2vw;
    transition: all 1s;
}

.text{
    display: inline;
    background-color: rgb(186, 136, 173);
}

.info{
    font-size: 15px;
    color: var(--cor-004);
    font-weight: 600;
    text-decoration: none;
}

#icon{
    color: #6031ebc9;
    font-size: 22px;
    padding: 1vh;
    display: inline;
    margin-left: 1vw;
}

#icon:hover{
    transition: all ;
    color: var;
    border-radius: 12px;
}

.icons{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* 
.botão-01{
    background-color: #7e57c2c3;
    border-radius: 4px;
    width: 20vh;
    height: 6vh;
    border-style: none;
    color: #ebeaea;
}

.botão-01:hover{
    transition: all 0.5s;
    outline: none;
    background: #7e57c2;
} */


.title02{
    /* color: var(--color-003);
    opacity: 70%;
    padding: 2vh;
    font-weight: 900; */
   
    padding: 10px 20px;
    border-radius: 5px;
    display: inline;
    color: var(--color-003);
    font-size: 22px;
    flex-direction: row;
    transition: all 0.5s;
}

.title03{
    /* color: var(--color-003);
    opacity: 70%;
    padding: 2vh;
    font-weight: 900; */
   
    padding: 10px 20px;
    border-radius: 5px;
    display: inline;
    color: var(--color-003);
    font-size: 22px;
    margin-left: 50%;
    flex-direction: row;
    transition: all 0.5s;
}

.conteudo{
    width: 100%;
    height: 80%;
    background: #7e57c2;
    border-radius: 17px;
}

.desc-vaga{
    padding: 2vh;
    width: 50%;
    height: 40vh;
    flex-direction: row;
    text-align: justify;
    /* overflow-y: scroll; */
}

.req-vaga{
    padding: 2vh;
    width: 50%;
    height: 40vh;
    margin-left: 50%;
    flex-direction: row;
    text-align: justify;
}

h5{
    color: var(--color-003);
    flex: 14;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 17px;
    transition: all 0.5s;
}
 
@media (max-width: 1200px) {
  
    .img_etec, .info{
        display: none;
    }

    .icons{
        width: 100%;
        padding: 1vw;
        flex-direction: row;
    }

    .divlateral{
        align-items: center;
    }

    #icon{
        font-size: 18px;
    }

    .div-icon{
        width: 100%;
    }

    .info{
        font-size: 13px;
    }

    .title02{
        font-size: 16px;
        text-align: center;
    }

    h5{
        font-size: 14px;
    }

    .desc-vaga{
        width: 100%;
    }

} 

