body{
    margin: 0;
    font-family: Raleway;
}

*{box-sizing: border-box;}

ul{
    list-style: none;
    padding: 0;
}

header{
    min-height: 100vh;
    background-size: cover;
    
}

.container, .container-inner{
    margin: 0 auto;
    width: 100%;
}

.container{
    max-width: 1350px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.container-inner{
    max-width: 1000px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2em;
    z-index: 9;
    transition:0.7s;
    color: rgb(0, 0, 0);
}

.brand{
    font-size: 1.6em;
}

nav .container-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav .container ul{
    width: 100%;
    margin: 0 1em;
}

nav .container ul:nth-child(2){
    text-align: right;
}

nav .container ul li{
    display: inline-block;
    margin: 0 0.7em;
}

nav a{
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.3s;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

nav a:hover{
    color: #6131eb;
}

nav .fa-bars{
    font-size:1.2em;
    cursor: pointer;
    transition: 0.3s;
    text-align: right;
}

nav .fa-bars:hover{
    color: #6131eb;
}

.menu{
    background: #111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    height: 0;
    opacity: 0;
    transition:
    0.7s
    cubic-bezier(
        .74,-0.03,.83,.67
    );
    overflow-y: hidden;
}

.logo{
    width: 3em;
}

.menu ul{
    margin: 1em auto;
}

.menu li{
    margin: 1em 0;
}

.menu > div {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 6em 1em 3em 1em;
    height: 100%;
    overflow-y: scroll;
}

.menu > div::-webkit-scrollbar{
    display: none;
}

.menu-open{
    height: 100vh;
    opacity: 1;
}

.navbar-active {
    background: rgba(97, 49, 235, 0.15);
    padding: 1em;
}



