.submit{
    width: 40%;
    padding: 10px;
    background-repeat: no-repeat;
}

.img-anunciar{
    padding: 0px;
    height: 260px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.div-sub-container{
    height: 100%;
}

.linhaMeio{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 400px;
    width: 3px;
    background-color: var(--color-003);
    opacity: 50%;
}

@media screen and (max-width: 1000px) {
    .div-container {
      display: contents;
      align-items: center;
    }

    .submit, .div-sub-container {
        width: 100%;
        text-align: center;
    }

    .linhaMeio{
        display: none;
    }

    .container1{
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .container1{
        width: 90%;
    }

    .div-sub-container{
        padding-top: 0;
        padding-bottom: 0;
    }

    .botao-001{
        width: 50vw;
        max-width: 200px;
    }

    .img-anunciar{
        height: auto;
        width: 50vw;
        max-width: auto;
    }
}