.div-mae{
    width: 80vw;
    height: 450px;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h1002{
    margin-top: 15px;
    color: var(--cor-004);
    font-size: 25px;
}

.div-alterar-img{
    border-radius: 20px;
    text-align: center;
    width: 30%;
    background-color: var(--cor-rgb-002);
}

.div-alterar-img h3{
    font-size: 17px;
    font-weight: 590;
    line-height: 60px;
    margin-top: 15%;
}

.div-alterar-img button{
    margin-top: 30px;
    margin-bottom: 15%;
}

.sub-div-alterar-img{
    border-radius: 20px;
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
    height: 50%;
    background-color: white;
}

img[src="images/svgs/camera.svg"], [src=''], img:not([src]) {
    height: 80px;
    width: auto;
    margin-top: 10vh;
}


.bi-camera{
    font-size: 80px;
    color: var(--cor-002);
    opacity: 50%;
}

.imagem-anexo{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
}

.div-alterar-texto{
    border-radius: 20px;
    width: 70%;
    margin-left: 5vw;
    padding: 40px 20px;
    border: 1px solid var(--cor-rgb-001);
    font-size: 17px;
    font-weight: 590;
}

#input-text-alterar{
    font-size: 16px;
    font-weight: 590;
    margin-top: 30px;
    background-color: var(--cor-rgb-002);
    border: 0;
    border-radius: 5px;
    padding: 1px 10px;
    align-content: space-between;
}

/* Nome */
.form-nome{
    width: 26%;
    line-height: 20px;
}

.input-sozinho{
    width: 74%;
}

.form-nome-completo{
    width: 22%;
    line-height: 20px;
}

.input-nome{
    width: 78%;
}

/* Endereco e Nº */
.form-endereco{
    width: 14%;
    line-height: 20px;
}

.input-endereco{
    width: 60%;
}

.form-num{
    width: 10%;
    padding-left: 5%;
}

.input-num{
    width: 15%;
}

/* Bairro e CEP */
.form-bairro{
    width: 10%;
    line-height: 20px;
}

.input-bairro{
    width: 50%;
}

.form-cep{
    width: 10%;
    padding-left: 3.5%;
}

.input-cep{
    width: 29%;
}

/* Telefone e E-mail */
.form-tel{
    line-height: 20px;
    width: 13%;
}

.input-tel{
    width: 27%;
}

.form-email{
    width: 12%;
    padding-left: 3%;
}

.input-email{
    width: 47%;
}

.input-junto{
    width: 15vw;
}

/* SENHA */

.form-senha{
    width: 10%;
}

.input-senha{
    width: 50%;
}

#input-text-alterar:hover, #input-text-alterar:focus{
    outline: none;
    border: 1px solid var(--cor-rgb-001);
}

#submit-text-alterar{
    width: 110px;
    height: 30px;
    background-color: var(--cor-rgb-003);
    color: var(--white);
    border-radius: 5px;
    border: none;
}

#submit-text-alterar-2{
    width: 130px;
    height: 30px;
    background-color: var(--cor-rgb-005);
    color: var(--white);
    border-radius: 5px;
    border: none;
}

.submit-class{
    float: right;
    margin-top: 25px;
    margin-left: 10px;
}

@media screen and (max-width: 1255px) {
    .div-alterar-texto{
        font-size: 15px;
    }
}

@media screen and (max-width: 1115px) {
    .div-mae{
        display: contents;
        align-items: center;
        height: auto;
    }

    .imagem-anexo{
        width: 92.5%;
        height: 100%;
        border-radius: 15px;
    }

    img[src="images/svgs/camera.svg"], [src=''], img:not([src]) {
        height: 50px;
        width: auto;
        margin-top: 0;
    }

    .div-alterar-img{
        display: flex;
        width: 90vw;
        margin: 0 5vw;
        height: 80px;
        align-content: space-between;
        margin-bottom: 20px;
        margin-top: 30px;
        padding: 0px 20px;
    }

    .sub-div-alterar-img{
        margin-left: 10%;
        margin-right: 10%;
        width: 60px;
        height: 60px;
        padding-bottom: 5px;
        padding-top: 5px;
        flex: 1;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bi-camera{
        height: 30px;
        font-size: 30px;
    }

    .div-alterar-img h3{
        font-size: 15px;
        font-weight: 590;
        flex: 1;
        line-height: 60px;
        margin-top: 1%;
    }

    .abc001{
        flex: 1;
        width: 100px;
    }

    .div-alterar-texto{
        width: 90vw;
        height: 450px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 660px) {
    .div-alterar-texto{
        height: 770px;
    }

    .input-bairro, 
    .input-cep, 
    .input-email, 
    .input-endereco, 
    .input-junto, 
    .input-num,
    .input-nome,
    .input-senha, 
    .input-sozinho, 
    .input-tel
    {
        width: 60%;
        margin-bottom: 20px;
        margin-top: 0;
    }

    .form-bairro,
    .form-cep,
    .form-email,
    .form-nome,
    .form-nome-completo,
    .form-endereco,
    .form-num,
    .form-senha,
    .form-tel{
        width: 39%;
        padding-left: 0;
        line-height: normal;
        text-align: center;
    }
    
    .div-alterar-img h3{
        font-size: 15px;
        font-weight: 590;
        flex: 1;
        line-height: normal;
        margin-top: 5%;
    }

    img[src="images/svgs/camera.svg"], [src=''], img:not([src]) {
        height: 40px;
        margin-top: 5px;
        padding: 5%;
    }
}