.div-pai{
    width: 99vw;
    margin-top: 30px;
    margin-bottom: 30px;
}


.h1002{
    margin-top: 15px;
    color: var(--color-003);
    font-size: 25px;
    font-weight: 290;
}

.sumir{
    /* display: none; */
    background-color: blue;
    width: 300px;
    height: 80px;
}

.div-imagens{
    display: flex;
    width: 100%;
    padding: 5px;
    background-color: var(--color-005);
    height: 100%;
    align-items: center;
}

.img-div-alterar-01{
    max-width: 100%;
    height: 30vh;
    max-height: 100%;
    border-radius: 10px;
    transition: all 0.8s;
    object-fit: cover;
    object-position: center;
}

.div-alterar-img{
    border-radius: 20px;
    text-align: center;
    width: 70vw;
    height: auto;
    background-color: var(--color-005);
    display: flex;
    padding: 10px;
    align-items: center;
}

.div-meio,
.div-ponta,
.div-ultimo{
    padding: 5px;
    margin-right: 10px;
    background-color: var(--white);
    border-radius: 10px;
    height: auto;
    width: auto;
    flex: 1;
    align-content: space-between;
    object-fit: cover;
    object-position: 20% 10%;
}

.div-alterar-img button{
    margin-top: 30px;
    margin-bottom: 15%;
}

.div-alterar-texto{
    border-radius: 20px;
    width: 70%;
    padding: 8vh 20px;
    /* border: 1px solid var(--color-001); */
    font-size: 17px;
    background-color: var(--color-005);
    font-weight: 490;
    height: auto;
}

#input-text-alterar{
    font-size: 16px;
    margin-top: 20px;
    background-color: var(--color-004);
    border: 0;
    border-radius: 5px;
    padding: 1px 10px;
    align-content: space-between;
}

#input-text-alterar2{
    font-size: 16px;
    font-weight: 590;
    margin-top: 10px;
    border-style: none;
    background: var(--white);
    border: 0;
    border-radius: 5px;
    padding: 1px 10px;
    align-content: space-between;
}

.form-cursos{
    width: 10%;  
    color: var(--color-003);  
}

.input-cursos{
    width: 100%;
    min-height: 80px;
}

.form-sobre{
    width: 10%;
    margin-top: 20px;
    color: var(--color-003);
}

.input-sobre{
    width: 100%;
    min-height: 120px;
}

.form-equipe{
    width: 10%;
    margin-top: 20px;
    color: var(--color-003);
}

.input-equipe{
    width: 100%;
    min-height: 120px;
}

/* SENHA */

#input-text-alterar:hover, #input-text-alterar:focus{
    outline: none;
    border-color: var(--color-002);
    box-shadow: 0 0 0 2px var(--color-002);
    transition: all 0.9s;
}

#input-text-alterar2:hover, #input-text-alterar2:focus{
    outline: none;
    border-color: var(--color-002);
    box-shadow: 0 0 0 2px var(--color-002);
    transition: all 0.9s;
}


#submit-text-alterar{
    background-color: var(--color-001);
    border-radius: 4px;
    width: 20vh;
    height: 6vh;
    border-style: none;
    color: var(--color-004);
}

#submit-text-alterar:hover{
    transition: all 0.5s;
    outline: none;
    background: var(--color-002);
}


.submit-class{
    float: right;
    margin-top: 25px;
    
}

.bi-camera{
    font-size: 80px;
    color: var(--cor-002);
    opacity: 50%;
}
.abbs{
    background-color: var(--cor-002);
    width: 400px;
    height: 100px;
}

.input-cursos,
.input-sobre,
.input-equipe
{
    width: 90%;
    margin-bottom: 20px;
    margin-top: 0;
}

.img-trash{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 20px;
    cursor: pointer;
    opacity: 0.6;
}

.img-trash:hover{
    opacity: 1;
}

.form-cursos,
.form-equipe,
.form-sobre
{
    width: 90%;
    padding-left: 0;
    line-height: normal;
    text-align: left;
}

@media screen and (max-width: 1115px) {
    .img-div-alterar-01{
        max-height: 120px;
    }
}