.filtros{
    margin-top: 90px;
    margin-right: 10%;
    display: flex;
    transition: all 1s;
    justify-content: flex-end;
}

.filtros1{
    margin-top: 13vh;
    position: absolute;
}

.form-filtros{
    color: var(--color-003);
}

.form{
    display: flex;
 }

.label{
    display: inline;
    width: 286px;
    height: 23px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 23px;

    color: var(--cor-005);
}


.input-textarea{
    width: 180px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    background-color: var(--color-005);
    padding-left: 10px;
}

.input-textarea:hover{
    outline: none;
    border-color: var(--color-002);
    box-shadow: 0 0 0 3px var(--color-002);
    transition: all 1.1s;
}

.botao-001{
    background: url("../../images/svgs/search.svg") no-repeat 15px;
    height: 40px;
    width: 45px;
    border-radius: 10px;
    border-style: none;
    margin-left: 5px;
    background-color: var(--color-001);
}

.botao-001:hover{
    outline: none;
    border-color: var(--color-002);
    box-shadow: 0 0 0 2px var(--color-002);
    transition: all 1.1s;
}

.conteudo{
    
    background-color: var(--color-005);
    width: 70%;
    height: 420px; 
    margin-top: 5vh;
    margin-bottom: 10vh;
    margin-left: 5%;
    border-radius: 10px;
    overflow-y: scroll;
    transition: all 1s;
    padding-bottom: 1px;
    padding-top: 15px;
}

.div-filtros{
    background-color: var(--color-005);
    width: 300px;
    height: 420px; 
    margin-top: 5vh;
    margin-bottom: 10vh;
    border-radius: 10px;
    margin-right: 10%;
    padding: 45px 25px;
    font-size: 15px;
    color: var(--color-troca);
}

#text-filtro{
    background: var(--white);
    opacity: 60%;
    border: 0;
    margin-bottom: 15px;
    height: 40px;
    margin-top: 5px;
    padding: 2px 10px;
    width: 100%;
    margin-left: 0;
    border-radius: 5px;
}

.submit-filtrar{
    /* width: 60%;
    margin-top: 10px;
    background-color: var(--color-001);
    color: var(--color-004);
    border: 0;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    transition: all 1s; */

    background-color: var(--color-001);
    border-radius: 4px;
    width: 20vh;
    height: 6vh;
    border-style: none;
    color: var(--color-004);
}

.submit-filtrar:hover{
    transition: all 0.5s;
    outline: none;
    background: var(--color-002);
}

#text-filtro:hover, #text-filtro:focus{
    outline: none;
    border-color: var(--color-002);
    box-shadow: 0 0 0 2px var(--color-002);
    transition: all 0.9s;
}

.div-total{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 10%;
}

.titulo1{
    width: 294px;
    height: 52px;
    padding-left: 17vh;
    padding-top: -1vh;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 52px;
    /* identical to box height */

    display: inline;
    align-items: center;

    color: var(--cor-004);
}

.table1{
    display: inline;
    background-color: var(--white);
    width: 42%;
    height: 130px;
    margin: 3%;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 5%;
    padding-top: 15px;
}

.table1:hover{
    background-color: rgba(148, 148, 148, 0.867);
    transition: all 1s;
    color: var(--cor-006);
    opacity: 0.9;
}

.foto-perfil{
    display: inline;
    width: 100px;
    height: 100px;
    margin-left: 15px;
    object-fit: cover;
    object-position: center;
    background-color: var(--color-troca);
    padding: 8px;
    border-radius: 10px;
    color: var(--cor-001);
}

.nome_materia{
    margin-top: 1vh;
    margin-left: 2vh;
    color: var(--color-001);
    font-size: 17px;
}

.escola{
    margin-top: 1vh;
    margin-left: 2vh;
    color: var(--color-003);
    font-size: 15px;
}

input[type=text] {
    margin-left: 8px;
    padding-left: 10px;
    font-size: 14px;
    color: var(--cor-005);
}

.bi-filter{
    font-size: 30px;
    width: 50px;
}

.gaby{
    width: 50px;
    opacity: 90%;
    padding: 10px;
    margin-top: 70px;
    border-radius: 10px;
    display: none;
    transition: all 1s;
 }

.abo11{
    background-color: var(--cor-001);
    width: 80px;
    height: 100px;
    display: none;
}

@media screen and (max-width: 1200px) {
 .conteudo{
    width: 90%;
    height: 500px; 
 }

 .div-total{
    display: contents;

 }

 .div-filtros{
    position: absolute;
    transform: translateX(-200vw);
 }

 input.abo11:checked ~ .div-filtros{
    transform: translateX(0);
    padding: 65px 10%;
    width: 92%;
    margin-left: 4%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 10px;
    padding-top: 100px;
    height: 600px;
    margin-right: 10%;
    margin-top: 10px;
    font-size: 16px;
    color: var(--cor-005);
    text-align: center;
 }

 .gaby{
   display: block;
   margin-left: 5%;
 }

 .label{
    display: none;
 }

 .filtros{
    position: absolute;
    margin-left: 0;
    width: 100%;
    padding-right: 5%;
    align-items: flex-end;
 }

 .submit-filtrar{
    margin-top: 30px;
 }
}

@media screen and (max-width: 800px) {
    .table1{
        width: 96%;
    }
}